# Environment variables for Pub_Sub service
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=pub_sub
POSTGRES_HOST=db_pub_sub
POSTGRES_PORT=5432
PORT=47012
AUTH_HOST=auth