venv/
services/cmanager/src/app/api/__pycache__/*
services/cmanager/src/app/__pycache__/*
services/cmanager/src/app/api/__pycache__/images.cpython-37.pyc
services/storage/storage1/abekeys/*
services/storage/storage1/c/*
services/storage/storage2/abekeys/*
services/storage/storage2/c/*
services/storage/storage3/abekeys/*
services/storage/storage3/c/*
services/storage/storage4/abekeys/*
services/storage/storage4/c/*
services/storage/storage5/abekeys/*
services/storage/storage5/c/*
services/deployer/app/results/
services/cmanager/src/app/api/__pycache__/*
services/deployer/app/__pycache__/*
services/deployer/app/normas/__pycache__/*
services/metadata/metadata/log/*
services/valuechain_api/api/app/logs/execution/*
services/valuechain_api/logs/*