.page-header {
    padding: 20px 0;
    margin-bottom: 10px;

    h1, h2, h3, h4, h5 {
        margin: 0;
        line-height: 20px;
        font-weight: normal;
    }

    p {
        margin-bottom: 0;
        line-height: 15px;
    }
}
