{% extends 'base.html' %} {% block title %} Container Creation {% endblock %} 
{% block head %} {{ super() }} 
<link href="{{url_for('static', filename='css/details_page.css')}}" rel="stylesheet"> 
{% endblock %} 
{% block content %}
    <div class="row">
        <div class="row titlebar pl-3">
            <div class="d-flex p-2 justify-content-between align-items-center">
            <h4>Create container</h4>
            </div>
        </div>

        <div class="row d-flex flex-column">
            <div class="page-body-title form-group ml-4">
                <label for="selectImage">Select base image</label>
                <select id="selectImage" class="form-control">
                    {% if images %}
                        {% for i in images %}
                            {% if i.RepoTags %}
                                {% for t in i.RepoTags %}
                                    {% if t == '<none>:<none>' %}
                                    {% else %}
                                        <option value="{{ t }}">{{ t }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col d-flex flex-wrap">
                <!-- BASICS CARD -->
                <div class="card basics">
                    <div class="card-header d-flex justify-content-between align-items-center" onclick="collapseCard(event)">
                        <strong>Basics</strong>
                        <span data-feather="chevron-down"></span>
                    </div>
                    <div class="card-body p-1 d-flex flex-wrap">
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="containerName">Container name:</label>
                            <input autocomplete="off" id="containerName" type="text" placeholder="Container Name" class="form-control" pattern="[\w_-]+$" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="command">Commands to run:</label>
                                <button onclick="showListModal('command')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="command" type="text" placeholder="Commands" class="form-control" readonly oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="ports">Ports binds:</label>
                                <button onclick="showDictionaryModal('ports')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="ports" type="text" placeholder="Ports" class="form-control" readonly oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="hostname">Host name:</label>
                            <input autocomplete="off" id="hostname" type="text" placeholder="Host Name" class="form-control" pattern="[\w-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="apiversion">API Version:</label>
                            <input autocomplete="off" id="apiversion" type="text" placeholder="1.35,1.40" class="form-control" pattern="[0-9.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="entrypoint">Entrypoint:</label>
                                <button onclick="showListModal('entrypoint')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="entrypoint" type="text" placeholder="Entrypoint" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="working_dir">Working Dir:</label>
                            <input autocomplete="off" id="working_dir" type="text" placeholder="Working Dir" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="restartPolicy">Restart Policy:</label>
                            <select id="restartPolicy">
                                <option value="no">no</option>>
                                <option value="always">always</option>>
                                <option value="on-failure">on-failure</option>>
                                <option value="unless-stopped">unless-stopped</option>>
                            </select>
                            <input autocomplete="off" id="maxRetryCount" type="number" placeholder="Maximum Retry Count" class="form-control"> 
                        </div>
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="environment">Environment:</label>
                                <button onclick="showDictionaryModal('environment')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="environment" type="text" placeholder="Environment" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="labels">Labels:</label>
                                <button onclick="showDictionaryModal('labels')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="labels" type="text" placeholder="Labels" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkTty" type="checkbox">
                            <label for="chkTty" class="ml-1 mb-0 mr-2">Enable tty?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkAutoremove" type="checkbox">
                            <label for="chkAutoremove" class="ml-1 mb-0 mr-2">Autoremove?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkDetach" type="checkbox">
                            <label for="chkDetach" class="ml-1 mb-0 mr-2">Detach?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkPublishAll" type="checkbox">
                            <label for="chkPublishAll" class="ml-1 mb-0 mr-2">Publish all ports?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkReadOnly" type="checkbox">
                            <label for="chkReadOnly" class="ml-1 mb-0 mr-2">Read only?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkPrivileged" type="checkbox">
                            <label for="chkPrivileged" class="ml-1 mb-0 mr-2">Privileged?</label>
                        </div>
                    </div>
                </div>
                <!-- RESOURCES CARD -->
                <div class="card resources">
                    <div class="card-header d-flex justify-content-between align-items-center" onclick="collapseCard(event)">
                        <strong>Resources</strong>
                        <span data-feather="chevron-down"></span>
                    </div>
                    <div class="card-body p-1 d-flex flex-wrap">
                        <!-- CPU -->
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cgroupParent">CGroup Parent:</label>
                            <input autocomplete="off" id="cgroupParent" type="text" placeholder="CGroup Parent" class="form-control" pattern="[\w]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuCount">CPU Count:</label>
                            <input autocomplete="off" id="cpuCount" type="number" placeholder="CPU Count(Windows Only)" class="form-control" onchange="checkValidity(event)">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuPercent">CPU Percent:</label>
                            <input autocomplete="off" id="cpuPercent" type="number" placeholder="CPU Percent(Windows Only)" class="form-control" onchange="checkValidity(event)">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuPeriod">CPU Perid:</label>
                            <input autocomplete="off" id="cpuPeriod" type="number" placeholder="CPU Period" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuQuota">CPU Quota:</label>
                            <input autocomplete="off" id="cpuQuota" type="number" placeholder="CPU Quota" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuRtPeriod">CPU Real Time Period:</label>
                            <input autocomplete="off" id="cpuRtPeriod" type="number" placeholder="CPU RT Period" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuRtRuntime">CPU Real Time Runtime:</label>
                            <input autocomplete="off" id="cpuRtRuntime" type="number" placeholder="CPU RT Runtime" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpuShares">CPU Shares:</label>
                            <input autocomplete="off" id="cpuShares" type="number" placeholder="CPU Shares" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="nanoCpus">Nano CPUs:</label>
                            <input autocomplete="off" id="nanoCpus" type="number" placeholder="Nano CPUs" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpusetMems">Set MEMS:</label>
                            <input autocomplete="off" id="cpusetMems" type="text" placeholder="E.G 0-3 or 0,1,2" class="form-control" pattern="[0-9,-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="cpusetCpus">Set CPUs:</label>
                            <input autocomplete="off" id="cpusetCpus" type="text" placeholder="Set CPUs to use" class="form-control" pattern="[0-9,-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <!-- MEMORY -->
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="memLimit">Memory Limit:</label>
                            <input autocomplete="off" id="memLimit" type="text" placeholder="Set maximum memory to use" class="form-control" pattern="[0-9]+[GgMmKkBb]{1}$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="memReservation">Memory Reservation:</label>
                            <input autocomplete="off" id="memReservation" type="text" placeholder="Set memory to reserve" class="form-control" pattern="[0-9]+[GgMmKkBb]{1}$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="memSwappiness">Set memory swappiness: </label>
                            <input autocomplete="off" id="memSwappiness" type="number" placeholder="Set memory swappiness" class="form-control" min="0" max="100" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="memSwapLimit">Set Memory Swap Limit:</label>
                            <input autocomplete="off" id="memSwapLimit" type="text" placeholder="Set memory swap limit" class="form-control" pattern="[0-9]+[GgMmKkBb]{1}$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <!-- IO -->
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="blkioWeight">Set BLKIO Weight:</label>
                            <input autocomplete="off" id="blkioWeight" type="number" placeholder="blkio_weight" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <!-- list of objects -->
                            <label for="blkioWeightDevice">BLKIO Weight Device:</label>
                            <input autocomplete="off" id="blkioWeightDevice" type="text" placeholder="blkio_weight_device" class="form-control" oninput="setCustomValidity('')">
                        </div>
                    </div>
                </div>
                <!-- NETWORKS SECTION -->
                <div class="card networks">
                    <div class="card-header d-flex justify-content-between align-items-center" onclick="collapseCard(event)">
                        <strong>Networks</strong>
                        <span data-feather="chevron-down"></span>
                    </div>
                    <div class="card-body">
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkNetworkDisabled" type="checkbox">
                            <label for="chkNetworkDisabled" class="ml-1 mb-0 mr-2">Disabled Network?</label>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <!-- USE A SELECT -->
                            <label for="network">Network: </label>
                            <input autocomplete="off" id="network" type="text" placeholder="Network to use" class="form-control pattern="[\w]$" onchange="checkValidity(event)"" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="networkMode">Network Mode:</label>
                            <select id="networkMode">
                                <option value="bridge">bridge</option>
                                <option value="none">none</option>
                                <option value="host">host</option>
                                <option value="container">container</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- VOLUMES SECTION -->
                <div class="card volumes">
                    <div class="card-header d-flex justify-content-between align-items-center" onclick="collapseCard(event)">
                        <strong>Volumes / Binds</strong>
                        <span data-feather="chevron-down"></span>
                    </div>
                    <div class="card-body">
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="volumeDriver">Volume Driver: </label>
                            <input autocomplete="off" id="volumeDriver" type="text" placeholder="Volume Driver" class="form-control" pattern="[\w]$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="volumes">Volumes:</label>
                                <button onclick="showListModal('volumes')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="volumes" type="text" placeholder="Volumes" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="volumes_from">Volumes From:</label>
                                <button onclick="showListModal('volumes_from')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="volumes_from" type="text" placeholder="Volumes From" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="mounts">Mounts:</label>
                                <button onclick="showListModal('mounts')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="mounts" type="text" placeholder="Mounts" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <!-- ADVANCED SECTION -->
                <div class="advanced-options card">
                    <div class="card-header d-flex justify-content-between align-items-center" onclick="collapseCard(event)">
                        <strong>ADVANCED</strong>
                        <span data-feather="chevron-down"></span>
                    </div>
                    <div class="card-body p-1 d-flex flex-wrap">
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <!-- TODO: ARRAYS OF JSONS -->
                            <label for="deviceReadBps">Device Read BPS: </label>
                            <input autocomplete="off" id="deviceReadBps" type="text" placeholder="[{'Path': '/dev/sda1'}, 'Rate': '50Mb']" class="form-control" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <!-- ARRAYS OF JSONS -->
                            <label for="deviceReadIops">Device Read IO Per Second: </label>
                            <input autocomplete="off" id="deviceReadIops" type="text" placeholder="[{'Path': '/dev/sda1'}, 'Rate': '50Mb']" class="form-control" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <!-- ARRAYS OF JSONS -->
                            <label for="deviceWriteBps">Device Write BPS: </label>
                            <input autocomplete="off" id="deviceWriteBps" type="text" placeholder="[{'Path': '/dev/sda1'}, 'Rate': '50Mb']" class="form-control" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <!-- ARRAYS OF JSONS -->
                            <label for="deviceWriteIops">Device Write IO Per Second: </label>
                            <input autocomplete="off" id="deviceWriteIops" type="text" placeholder="[{'Path': '/dev/sda1'}, 'Rate': '50Mb']" class="form-control" oninput="setCustomValidity('')">
                        </div>
                    
                        <!-- LISTS OR STR -->
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="cap_add">Add Capabilities:</label>
                                <button onclick="showListModal('cap_add')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="cap_add" type="text" placeholder="Add Capabilities" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="cap_drop">Drop Capabilities:</label>
                                <button onclick="showListModal('cap_drop')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="cap_drop" type="text" placeholder="Drop Capabilities" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="domainname">Domain Name:</label>
                                <button onclick="showListModal('domainname')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="domainname" type="text" placeholder="Domain Name" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="initPath">Init Path: </label>
                            <input autocomplete="off" id="initPath" type="text" placeholder="Init Path" class="form-control" pattern="[\w\\\/\.]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="ipcMode">IPC Mode: </label>
                            <input autocomplete="off" id="ipcMode" type="text" placeholder="IPC Mode" class="form-control" pattern="[\w:_-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="isolation">Isolation: </label>
                            <input autocomplete="off" id="isolation" type="text" placeholder="Isolation" class="form-control" pattern="[\w]$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="kernelMemory">Kernel Memory: </label>
                            <input autocomplete="off" id="kernelMemory" type="text" placeholder="Kernel Memory" class="form-control" pattern="[0-9]+[GgMmKkBb]{1}$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="macAddress">Mac Address: </label>
                            <input autocomplete="off" id="macAddress" type="text" placeholder="Mac Address" class="form-control" pattern="^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="pidMode">PID Mode: </label>
                            <input autocomplete="off" id="pidMode" type="text" placeholder="PID Mode" class="form-control" pattern="[\w]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="platform">Platform: </label>
                            <input autocomplete="off" id="platform" type="text" placeholder="Platform" class="form-control" pattern="[\w]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="runtime">Runtime: </label>
                            <input autocomplete="off" id="runtime" type="text" placeholder="Runtime" class="form-control" pattern="[\w]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="shmSize">SHM Size: </label>
                            <input autocomplete="off" id="shmSize" type="text" placeholder="SHM Size" class="form-control" pattern="[0-9]+[GgMmKkBb]{1}$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="stopSignal">STOP Signal: </label>
                            <input autocomplete="off" id="stopSignal" type="text" placeholder="STOP Signal" class="form-control" pattern="[A-Za-z_-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="user">User: </label>
                            <input autocomplete="off" id="user" type="text" placeholder="User" class="form-control" pattern="[\w_-]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="usernsMode">UserNS mode: </label>
                            <input autocomplete="off" id="usernsMode" type="text" placeholder="User Namespace mode" class="form-control" pattern="[\w]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="utsMode">UTS Mode: </label>
                            <input autocomplete="off" id="utsMode" type="text" placeholder="UTS Mode" class="form-control" pattern="[\w]+$" onchange="checkValidity(event)" oninput="setCustomValidity('')">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="device_cgroup_rules">Device CGroup Rules:</label>
                                <button onclick="showListModal('device_cgroup_rules')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="device_cgroup_rules" type="text" placeholder="Device CGroup Rules" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="devices">Devices:</label>
                                <button onclick="showListModal('devices')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="devices" type="text" placeholder="Devices" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="device_requests">Device Requests:</label>
                                <button onclick="showListModal('device_requests')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="device_requests" type="text" placeholder="Device Requests" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="dns">DNS:</label>
                                <button onclick="showListModal('dns')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="dns" type="text" placeholder="DNS" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="dns_opt">DNS Options:</label>
                                <button onclick="showListModal('dns_opt')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="dns_opt" type="text" placeholder="DNS Options" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="dns_search">DNS Search:</label>
                                <button onclick="showListModal('dns_search')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="dns_search" type="text" placeholder="DNS Search" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="group_add">Group Add:</label>
                                <button onclick="showListModal('group_add')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="group_add" type="text" placeholder="Group Add" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="security_opt">Security Options:</label>
                                <button onclick="showListModal('security_opt')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="security_opt" type="text" placeholder="Security Options" class="form-control" readonly>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="ulimits">ULimits:</label>
                                <button onclick="showListModal('ulimits')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="ulimits" type="text" placeholder="ULimits" class="form-control" readonly>
                        </div>

                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="lxc_conf">LXC Config:</label>
                                <button onclick="showDictionaryModal('lxc_conf')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="lxc_conf" type="text" placeholder="LXC Config" class="form-control" readonly>
                        </div>

                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="healthcheck">Healthcheck:</label>
                                <button onclick="showDictionaryModal('healthcheck')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="healthcheck" type="text" placeholder="Healthcheck" class="form-control" readonly>
                        </div>
                        
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="extraHosts">Extra hosts:</label>
                                <button onclick="showDictionaryModal('extraHosts')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="extraHosts" type="text" placeholder="Extra hosts" class="form-control" readonly>
                        </div>

                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="links">Link:</label>
                                <button onclick="showDictionaryModal('links')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="links" type="text" placeholder="Links" class="form-control" readonly>
                        </div>

                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="logConfig">Log Config:</label>
                                <button onclick="showDictionaryModal('logConfig')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="logConfig" type="text" placeholder="Log Config" class="form-control" readonly>
                        </div>
                        
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="storageOpt">Storage Options:</label>
                                <button onclick="showDictionaryModal('storageOpt')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="storageOpt" type="text" placeholder="Storage Options" class="form-control" readonly>
                        </div>
                        
                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="sysctls">System CTLS:</label>
                                <button onclick="showDictionaryModal('sysctls')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="sysctls" type="text" placeholder="System CTLS" class="form-control" readonly>
                        </div>

                        <div class="input-group-sm m-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <label class="py-0 my-0" for="tmpfs">Temporary Filesystems:</label>
                                <button onclick="showDictionaryModal('tmpfs')" class="btn btn-sm btn-primary my-1" >add</button>
                            </div>
                            <input autocomplete="off" id="tmpfs" type="text" placeholder="Temporary Filesystems" class="form-control" readonly>
                        </div>

                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkOomKill" type="checkbox">
                            <label for="chkOomKill" class="ml-1 mb-0 mr-2">Disable OOM Kill?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkInit" type="checkbox">
                            <label for="chkInit" class="ml-1 mb-0 mr-2">Init?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkStdinOpen" type="checkbox">
                            <label for="chkStdinOpen" class="ml-1 mb-0 mr-2">Open STDIN?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkStream" type="checkbox">
                            <label for="chkStream" class="ml-1 mb-0 mr-2">Enable Stream?</label>
                        </div>
                        <div class="input-group-sm m-2 d-flex align-items-center p-2 bg-light shadow-sm">
                            <input autocomplete="off" id="chkUseConfigProxy" type="checkbox">
                            <label for="chkUseConfigProxy" class="ml-1 mb-0 mr-2">Use Proxy Config?</label>
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="oomScoreAdj">OOM Score: </label>
                            <input autocomplete="off" id="oomScoreAdj" type="number" placeholder="OOM Score" class="form-control">
                        </div>
                        <div class="input-group-sm m-2 p-2 shadow-sm bg-light">
                            <label for="pidsLimit">PIDS Limit: </label>
                            <input autocomplete="off" id="pidsLimit" type="number" placeholder="PIDS Limit" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom bg-primary w-100 text-white page-footer d-flex flex-row justify-content-around align-items-center">
            <div class="form-group m-1 d-flex justify-content-center align-items-center">
                <input autocomplete="off" id="chkRun" type="checkbox">
                <label for="chkRun" class="ml-1 mb-0">Run after create?</label>
            </div>
            <button class="btn btn-sm btn-success m-1" onclick="createContainer()">Create</button>
        </div>
    </div>
{% endblock %} 
{% block footer %} {{ super() }} 
<script src="{{url_for('static', filename='js/container_creation.js')}}"></script>
{% endblock %}
