{% extends 'base.html' %} {% block title %} Containers {% endblock %} 
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 position-relative"> -->
    <!-- <div class="site-content"> -->
        <!-- CONTAINER LIST PANEL *** START ***-->
        <div class="row m-0">
            <div class="row titlebar pl-3">
                <div class="d-flex p-2 justify-content-between align-items-center">
                    <h4 class="m-2">Container List</h4>
                    <div class="btn-group dropright">
                        <button id="btnFilterBy" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by</button>
                        <div class="dropdown-menu">
                            <a onclick="filterBy('running')" id="filterByRunning" class="dropdown-item" href="#">Running</a>
                            <a onclick="filterBy('dead')" id="filterByDead" class="dropdown-item" href="#">Dead</a>
                            <a onclick="filterBy('paused')" id="filterByPaused" class="dropdown-item" href="#">Paused</a>
                            <a onclick="filterBy('created/exited')" id="filterByCreated" class="dropdown-item" href="#">Created/Exited</a>
                            <a onclick="filterBy('restarting')" id="filterByRestarting" class="dropdown-item" href="#">Restarting</a>
                            <a onclick="filterBy('all')" id="filterByAll" class="dropdown-item" href="#">All</a>
                        </div>
                    </div>
                </div>
                <div class="options">
                    <div class="searchbar">
                        <input oninput="searchContainers()" type="text" id="searchText" placeholder="Search">
                    </div>
                    <div class="view-format">
                            <span onclick="formatView('grid')" data-feather="grid"></span>
                            <span onclick="formatView('list')" data-feather="list"></span>
                            <span onclick="refresh()" data-feather="refresh-cw"></span>
                    </div>
                </div>
            </div>
            <div id="containersPanel" class="col m-0 p-0">
                <div id="containersGrid" class="containers-grid containers">
                    <div class="card-columns"></div>
                </div>
                <div id="containersList" class="containers-list containers">
                    <div class="list-group">
                        <table class="table table-bordered table-stripped table-responsive-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">DEL</th>
                                    <!-- <th scope="col">Container ID</th> -->
                                    <th scope="col">Container Name</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Ports</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
<!-- </main> -->

{% endblock %} 
{% block footer %} {{ super() }} 
<script src="{{url_for('static', filename='js/containers.js')}}"></script>
{% endblock %}
