{% extends "base.html" %} {% block title %} Services creator {% endblock %} 
{% block head %} {{ super() }}
<link href="{{url_for('static', filename='libs/flowy-master/flowy.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='libs/flowy-master/demo/styles.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='libs/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css">
{% endblock %} 
{% block content %}
<!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"> -->
<main role="main">
    <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Services creator</h1>
    </div> -->
    <div>
        <input type="hidden" name="idEditService" id=idEditService value="{{ ids }}">
    </div>

    <div id="leftcard">
    <!-- <div id="closecard"> -->
        <!-- <span class="fas fa-chevron-left"></span> -->
    <!-- </div> -->
    <p class="d-none" id="header">
        <button type="button" class="btn btn-secondary" id="btnCancelService">Cancel</button>
        <button type="button" class="btn btn-success" id="btnSaveService">Submit</button>
    </p>
    <p class="d-none" id="header-secondary">
        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalNewElement" data-type="stage">New Stage</button>
        <button type="button" class="btn btn-sm btn-outline-warning" id="btnShowStageOptions" data-toggle="button" aria-pressed="false" autocomplete="off">
            Options
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger" id="btnDeleteBlocks">Clear dashboard</button>
        </p>
    <!-- <div id="search">
        <span class="fas fa-search"></span>
        <input type="text" placeholder="Search blocks">
    </div> -->
    <div id="subnav">
        <div id="triggers" class="navactive side">Stages</div>
        <div id="actions" class="navdisabled side">Apps</div>
        <div id="loggers" class="navdisabled side">Users</div>
    </div>
    <div id="blocklist"></div>
    </div>

    <div id="canvas"></div>

    <!-- Modal New Service (Root block) -->
    <div class="modal fade" id="modalNewService" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalNewServiceLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalNewServiceLabel">New Service</h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="newServiceName">Name</label>
                <input type="text" class="form-control" id="newServiceName" placeholder="" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnNewService">Create</button>
        </div>
        </div>
    </div>
    </div>


    <!-- Modal New Element -->
    <div class="modal fade" id="modalNewElement" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalNewElementLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="modalNewElementLabel">New Element</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer"></div>
        </div>
    </div>
    </div>

    <!-- Modal Edit Element -->
    <div class="modal fade" id="modalEditElement" tabindex="-1" role="dialog" aria-labelledby="modalEditElementLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalEditElementLabel">Edit Element</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer"></div>
        </div>
    </div>
    </div>

    <!-- Modal Confirm Delete Element -->
    <div class="modal fade" id="modalConfirmDeleteElement" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDeleteElementLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalConfirmDeleteElementLabel">Delete Stage?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body d-none"></div>
        <div class="modal-footer"></div>
        </div>
    </div>
    </div>


    <!-- Modal Add BB to Stage -->
    <div class="modal fade bd-example-modal-lg" id="modalAddBBToStage" tabindex="-1" role="dialog" aria-labelledby="modalAddBBToStageLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalAddBBToStageLabel">Add Application</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalNewElement" data-type="buildingblock">New App</button>
            </div>
            <table id="tableBB" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Command</th>
                    <th scope="col">Port</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="respBBList">
                </tbody>
            </table>
            <div class="row px-3">
                <p>Selected:</p>
                <div class="col col-md-6" id="selectedBB"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btnSubmitBBToStage">Submit</button>
        </div>
        </div>
    </div>
    </div>




</main>
{% endblock %} 
{% block footer %} {{ super() }}
<script src="{{url_for('static', filename='libs/flowy-master/flowy.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='libs/toastr/toastr.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/WFFlowyPanel.js')}}" type="text/javascript"></script>
<!-- <script src="{{url_for('static', filename='js/dashboard_new.js')}}" type="text/javascript"></script> -->
{% endblock %}